<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<body style="background-color:lightgrey;">
  <h1>Projects</h1>
   <p>Welcome to my Project P.age</p>
<p>Here are some of the photos of my project that i worked on. </p>
<ul>
  <li>My web application Project.</li>

  </ul>
  <p>Kindly click on the image to go to the website</p>
  <ul>
  <li>
  <p>Image one</p>
  <a href="https://corporate.walmart.com/newsroom/innovation/20140804/walmart-com-is-getting-a-new-look"><img  src="https://cdn.corporate.walmart.com/dims4/WMT/3f40238/2147483647/strip/true/crop/1105x721+0+0/resize/920x600!/quality/90/?url=https%3A%2F%2Fcdn.corporate.walmart.com%2Fa3%2F45%2F9010f4044739b3688d687255ecf0%2Fwebsite-redesign-homepage.png" alt="Mountain" style="width:400px" width="1460"  ></a>
  <br><br>
  </li>

 <li>
 <p>Image two</p>
  <a href="https://consumerist.com/2014/08/04/walmart-website-to-get-amazon-like-overhaul/"><img  src="https://consumerist.com/consumermediallc.files.wordpress.com/2014/08/walmartgrab1.png" alt="Mountain" style="width:400px" width="1460"  ></a><br><br><br>
</li>

<li>
 <p>Image three</p>
  <a href="https://corporate.walmart.com/_news_/photos/walmart-online-grocery-how-it-works-screenshot"><img  src="https://cdn.corporate.walmart.com/dims4/WMT/e342fc8/2147483647/strip/true/crop/900x521+0+0/resize/980x567!/quality/90/?url=https%3A%2F%2Fcdn.corporate.walmart.com%2F7c%2Fda%2F7b8118b849d8a8b755173ab1c271%2Fwalmart-online-grocery-how-it-works-screenshot.jpg" alt="Mountain" style="width:400px" width="1460"  ></a><br><br>
</li>
</ul>
</body>

<%- include('partials/bottom_nav'); -%>
<%- include('partials/footer'); -%> 


